body {
  margin: 20px 50px;
  font-family: sans-serif;
}
@media (max-width: 800px) {
  body {
    margin: 20px 10px;
  }
}

.tailContainer {
  display: inline-flex;
  flex-direction: column;
  margin: 2px 10px 0 0;
}

.tailContainer > span {
  margin-top: 5px;
  text-align: center;
}

.buttonContainer {
  display: inline;
}
.webcamContainer {
  display: inline-flex;
  /* width: 640px; */
  flex-direction: column;
  max-width: 90vh;
}

#webcamVideo {
  display: none;
  /* width: 640px;
  height: 480px; */
  background-color: #000;
}
#imageUploaded {
  display: none;
  width: auto;
  height: auto;
  max-width: 640px;
  max-height: 480px;
  background-color: #000;
}
/* @media (max-width: 800px) {
  .webcamContainer {
    width: 90vw;
    height: 90vh;
  }
  #webcamVideo {
    width: 90vw;
    height: 90vh;
  }
} */

.tail {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.btn-disabled {
  opacity: 0.4;
}
.btn {
  padding: 10px 20px;
  margin: 5px 10px;
  background:  linear-gradient(to right, rgba(247,74,43,1) 0%, rgba(240,107,86,1) 33%, rgba(246,37,9,1) 62%, rgba(240,46,20,1) 88%, rgba(231,51,35,1) 100%);
  border: none;
  color: #000;
  border-radius: 5px;
}
.btn:hover {
  cursor: pointer;
}